#main {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;

}
#title1 {
    align-content: center;
    background-color: ghostwhite;
    text-align: center;

}

#creating {
    top: 20%;
    margin-top: 50px;
    text-align: center;
}

input[type=text] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=password] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}



#userCreate {
    width: 250px;
    align-content:center;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:20px 30px;
    text-decoration:none;
}
#userCreate:active {
    position:relative;
    top:1px;
}

#userCreate:hover {
    background-color:#6c7c7c;
}